@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Ranchers&display=swap');

.hero-image{ 
	background: url(images/365fits.png);
	min-height: 100vh;
	color:#3357FF;
	background-color: #F8F8F8;
	background-position: center;
	background-repeat: no-repeat;
} 

p, ul {
	font-family: 'Raleway', sans-serif;
}

h1, #slogan { 
	font-family: 'Ranchers', cursive;
	color: #3357FF;
	font-size: 40px; 
	display: inline-block;
}

#slogan {
	font-size: 14px;
	font-style: italic;
}

a{
	font-family: 'Raleway', sans-serif;
}

.end { 
	list-style-type: none;
	text-align: center;
	padding: 1em 0; 
}

#two-column {
	background-color: #a4a1a1;
	border: 1px black solid;
	padding: 20px;
}

#mission {
	background-color: #c3c1c1;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

.button {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 20px 30px;
    background-color: #c3c1c1;
    border: 1px black solid;
	width: 40%;
	float:right; 
	margin-bottom: 10px;

}

footer, nav {
	display: inline-block;
	padding: 20px;
	font-family: 'Raleway', sans-serif;

 }

.clearfix:after {
	display: block;
	content:"";
	clear: both;
	height: 0;
}

@ media only screen and (max-width: 850px)


